@media (max-width: 600px) {
html {scroll-behavior: smooth;}
content {
	display: flex;
	/* justify-content: center; */
	
	margin: 40px;
	flex-direction: column;
	
	
	align-items: center;
	/* word-spacing: 300px; */
	
	
	
	/* ------PARA ANDROID--------- */
	/* ------PARA ANDROID--------- */
	}
	
	
/* ----------------BOTON DE MENÚ-------------------- */
#Mm {padding-bottom: 5px;padding-top: 6px;
		background: #607898;border-left-color: #607898;
		border-right-color: #607898;border-top-color: #607898;
		position: relative;left: 82.7%;
		border-bottom-color: #607898;color: while;}
#M {width: 65px;}/* Tamaño de imagen del menú */
#Menu {background: #607898;}
	/* ----------------BOTON DE MENÚ-------------------- */

}/* -------------@media---------------*/


/*
  .products{isplay: inherit;height: auto;}
  .product{margin-top: auto;}
  .main_section{padding: 4%;}
  .beneficios, .mentions{display: inherit;}

 */
