

 

body {margin:0px;white-space:nowrap; background: #000000;}
/* ----------------- ELIGE UNA OPCIÓN ---------------- */
.Seccion {color: #ffffff;background: #aacaff;
          padding: 1px;padding-left: 20px;}
/* ----------------- ELIGE UNA OPCIÓN ---------------- */


/* -------------- TEXTO DE LAS CARTAS ------------- */
#Fl {color: #D0D0D0;} /* TÍTULO */
#Sl {color: #283038;} /* SUBTÍTULO */
#Fll {color: #8080E0;}/* TÍTULO */
#Sll {color: #905060;}/* SUBTÍTULO */
/* -------------- TEXTO DE LAS CARTAS ------------- */


/* ----------------BOTON DE MENÚ-------------------- */
#Mm {padding-bottom: 5px;padding-top: 6px;
		background: #607898;border-left-color: #607898;
		border-right-color: #607898;border-top-color: #607898;
		position: relative;left: 91.7%;
		border-bottom-color: #607898;color: while;}
#M {width: 65px;}/* Tamaño de imagen del menú */
#Menu {background: #607898;}
	/* ----------------BOTON DE MENÚ-------------------- */



/* ----------------CARTAS DE COMUNIDAD--------------- */
#Imag {width: 180px;align-self: center;border-radius: 20%;}
#imag {width: 180px;align-self: center; }




/* ----------------CARTAS DE COMUNIDAD--------------- */







content {
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
	margin: 40px;
	align-items: center;
	/* word-spacing: 300px; */
	
	
	
	/* ------PARA ANDROID--------- */
	/* flex-direction: column; */
	/* ------PARA ANDROID--------- */
	}

.Unoo {background: #aacaff;padding-top: 50px;
        padding-bottom: 50px;
        
        
       
       }
       
       
       

#Doss {/* carta de Flipaclip */
		 background: url('esl.jpg')round;/* fondo de Flipa  */
		 border-radius: 40px;
		 text-align: center;
		 padding-top: 50px;
		 padding-left: 40px;
		 padding-right: 40px;
		 padding-bottom: 10px;}
		 
		 
#Dosss {/* carta de Creative */
		 background: url('cra.jpg')round;/* fondo de Crea */
		 border-radius: 40px;
		 text-align: center;
		 padding-top: 50px;
		 padding-left: 40px;
		 padding-right: 40px;
		 padding-bottom: 10px;}
		 
/* .Tress {text-align-last: center;} */
.Cuarto {padding-bottom: 30px;padding-top: 30px;}/*botón*/


#Un {background: #90C0B0;color: #905060;
	border-bottom-color: #90C0B0;border-left-color: #90C0B0;
	border-right-color: #90C0B0;border-top-color: #90C0B0;
	border-radius: 5px;color: while;}/* boton Creative */


#Unn {background: #ffffff;color: black;
	border-bottom-color: #ffffff;border-left-color: #ffffff;
	border-right-color: #ffffff;border-top-color: #ffffff;
	border-radius: 5px;color: while;}/*Flipaclip_En_Español*/



/* #Hon {padding-bottom: 60px;} */

 
/*
.Uno {
						background: green;
						padding-top: 5px;
						padding-bottom: 5px;
						white-space: 0px;
						text-align: center;
						border-radius: 70px;} */

footer {background: #162415; color: #ffffff;
        align-content: left;
        padding: 1px;
        text-align: center;
        margin: 0px;}
        
